.container {
  margin-bottom: 80px;
  section {
    margin-bottom: 64px;
  }

  > button {
    color: var(--highlight);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.posts {
  & + .posts {
    margin-top: 48px;
  }

  > h2 {
    color: var(--heading);
    font-size: 28px;
    line-height: 34px;
  }

  > p {
    margin-top: 8px;

    font-size: 18px;
    line-height: 22px;
    color: var(--body);
  }

  &_footer {
    margin-top: 24px;
    display: flex;
    gap: 24px;

    > div {
      display: flex;
      gap: 8px;
      color: var(--info);
      align-items: center;
    }
  }
}